* {
    box-sizing: border-box;
    background-color: orange;
}
form {
   width: 200px;
}
/* input {
   display: block;
   width: 100%;
   margin-bottom: .5rem;
   padding: .5rem;
} */

body {
   background-color: aqua;
}

#image-card {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
}